In [7]:
import pandas as pd

In [ ]:
temp = pd.read_csv('temp.csv')

In [ ]:
temp

    Unnamed: 0   月     每月平均气温
0            0   1  -3.577419
1            1   2   0.209220
2            2   3   7.654839
3            3   4  12.190000
4            4   5  17.912903
5            5   6  23.615132
6            6   7  24.834395
7            7   8  23.509677
8            8   9  19.016667
9            9  10  10.762097
10          10  11   4.480000
11          11  12  -3.118590

In [11]:
weather = pd.read_csv('weather.csv')
weather

     月  多云/多云  多云/晴  小雨/多云  小雨/小雨  小雨/晴  晴/多云   晴/晴   晴/阴   阴/阴
0    1   11.0  12.0    0.0    0.0   0.0   0.0  82.0   0.0   0.0
1    2    0.0  14.0    0.0    0.0   0.0  12.0  63.0   0.0  13.0
2    3   14.0  13.0    0.0    0.0   0.0   0.0  58.0  11.0   0.0
3    4   12.0  22.0    0.0   11.0   0.0  16.0  43.0   0.0   0.0
4    5   18.0  20.0    0.0    0.0   0.0  15.0  40.0   0.0   0.0
5    6   24.0  23.0    0.0    0.0   0.0   0.0  31.0   0.0   0.0
6    7   20.0  11.0   12.0   18.0  12.0   0.0  29.0   0.0   0.0
7    8   11.0  11.0    0.0   16.0   0.0  11.0  27.0   0.0   0.0
8    9   14.0  15.0    0.0    0.0   0.0  19.0  48.0   0.0   0.0
9   10   14.0  13.0    0.0    0.0   0.0   0.0  36.0   0.0   0.0
10  11   11.0  14.0    0.0    0.0   0.0  13.0  71.0   0.0   0.0
11  12    0.0  20.0    0.0    0.0   0.0  13.0  95.0   0.0   0.0